/* font  */
.interop {
  font-family: Interop;
}

/* declare variable */
:root {
  --pi: 1.41421356237;
  --gold: #c29525;
  --foreground: white;
  --background: #333;

  --scroll-bar--width:16px;

  --hamburger--bar-width: 32px;
  --hamburger--bar-height: 4px;
  --hamburger--gap: 6px;
  --hamburger--margin: 32px;
  --hamburger--animation-timing: 200ms ease-in-out;

  --hamburger--height: calc(
    var(--hamburger--bar-height)*3
    + var(--hamburger--gap) * 2);
  
  --sidebar-width: 30vw;
}

/* reset */
* {
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Interop;
  user-select: none;
}

body {
  overflow-x: hidden;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* loading screen */
.overflow-hidden {
  overflow: hidden;
}

#loading-screen {
  width: 100%;    
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  background: gray;
  color: white;
  opacity: 1;
  text-align: center;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0;
  max-width: var(--sidebar-width);
  width: var(--sidebar-width);
  height: 100vh;
  min-height: 100vh;
  color: var(--background);
  background-color: var(--foreground);
  translate: 100%;
  transition: translate var(--hamburger--animation-timing);

  > .close-area {
    top: 0;
    position: absolute;
    transition: opacity var(--hamburger--animation-timing);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: calc(
      (var(--hamburger--margin) * 2)
      + (var(--hamburger--bar-height) * 3)
      + (var(--hamburger--gap) * 2));
  
    > .close-tag {
      display: block;
      width:fit-content;
      height: 100%;
      rotate: 90deg;
      transform-origin: center;
      margin: 80px;
  
      rect, path {
        fill: gold;
      }
    }
  
    > span {
      position: absolute;
      left: 96px;
      font-size: .8em;
      color: white;
      font-weight: 600;
    }
  }
  
  > nav {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  
    > .nav-item-wrapper {
      width: 100%;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
      > .nav-item {
        margin: 12px 0;
        text-align: center;
        font-size: 1.8em;
        background: linear-gradient(to right, goldenrod 50%, #333 50%);
        background-size: 200% 100%;
        background-position: 100% 0; 
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        transition: background-position ease .8s;
        cursor: pointer;
  
        &:hover {
          background-position: 0 0; 
        }
      }
    }
  }
}

.social-wrapper {
  cursor: pointer;
  margin-bottom: 32px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  
  > .social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background: gray;
    border-radius: 50%;
    padding: 4px;
    border: 0;
    transition: background ease .3as;

    img {
      filter: invert(100%);
      height: 16px
    }

    &:hover {
      background: goldenrod;
    }
  }
}

.fly-in-object {
  opacity: 0;
  transform: translateY(200px);
}

.fly-in {
  opacity: 1;
  transform: translateY(0);
  transition:
    transform .8s ease-in-out,
    opacity .8s ease-in-out;
}

.full-page--container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width:100vw - var(--scroll-bar--width);
  height:100vh;
  
  &#main  {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                      url('img/bg.jpg');
    background-size: cover;
  }

  &#about {  background-color: #f8f8f8; }
  
  &#team { background-color: white; }
}


.main--content  {
  width: 100%;
  height: 100%;
}

.main-text--wrapper {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 12%;

  > * {
    color: white;
  }

  > .main-title {
    font-size: 2em;
    margin-bottom: 12px;
  }

  > .main-content {
    font-size: 1.2em;
    margin-bottom: 12px;
  }

  > .main-button {
    padding: 12px;
    border: none;
    background-color: var(--gold);
  }
}


.full-page-title {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: 600; 
}

.horizontal-divider {
  height: 4px;
  width: 10vw;
  background-color: goldenrod;
}

.full-page-content {
  width: 100%;
  flex-grow: 1;
}

#about > .full-page-content  {
  padding: 8vw;

  > .grid-wrapper {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 24px;
    column-gap: 12px;
    margin-bottom: 10%;
  }
}



.about-image {
  grid-column: 2/3;
  grid-row: 1/4;
  display: flex;
  justify-content: center;
  align-items: center;

  > img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}

.about-card {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  align-items: center;

  > .card-head {
    display: flex;
    width: 100%;
    height: fit-content;
  
    > .card-icon {
      height: 48px;
      margin-right: 12px;
    
      > img {
        height: 36px;
        width: 36px;
      }
    }
  
    > .card-title {
      font-size: 1.2em;
    }
  }

  > .card-body {
    width: 100%;
    flex: 1;
    font-size: .6em;
    font-style: italic;
  }
  &.left {justify-self: start;}
  &.right { justify-self: end ;}
}


#team > .full-page-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.profile-card-wrapper {
  perspective: 800px;
}

.profile-card {
  aspect-ratio: 3/4;
  width: 24vw;
  height: fit-content;
  transition: transform 0.1s ease-in-out;
  > img {
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.9s ease;
    &:hover {
      filter: brightness(50%);
    }
  } 
  &:hover > .profile-info { opacity: 1; }
}

.profile-info {
  position: absolute;
  bottom: 12px;
  left: 12px;
  transition: opacity 0.3s ease;
  opacity: 0;
  > * { color: white; }
}